# Домашнее задание 2 (5 баллов).

Все задания ниже имеют равный вес (5/16).

In [ ]:
import pandas as pd
import numpy as np

#### Описание данных

В папке Data находится информация о студентах. Всего 10 групп студентов. Файлы делятся на две категории:
    * Students_info_i - информация о студентах из группы i
    * Students_marks_i - оценки студентов из группы i за экзамены

### Одно из важных достоинств pandas $-$ это удобные методы реляционного взаимодействия с данными, аналогичные, например, возможностям SQL для слияния и конкатенации таблиц: merge, join, concat. Наличие готовых методов позволяет не реализовывать самостоятельно поэлементную обработку данных и оперировать сразу целыми таблицами данных.

Подробно об этих методах посмотрите тут: https://www.kaggle.com/residentmario/renaming-and-combining#Combining

#### Задание 1. Соберите всю информацию о студентах в одну таблицу df. В получившейся таблице должна быть информация и оценки всех студентов из всех групп. Напечатайте несколько строк таблицы для демонстрации результата.¶

In [ ]:
df = pd.read_csv('Students_info_0.csv', sep=',')
df1 = pd.read_csv('Students_marks_0.csv', sep=',')
df = df.merge(df1, on=["index"])

In [ ]:
for i in range(1, 10):
  df1 = pd.read_csv('Students_info_' + str(i) + '.csv', sep=',')
  df2 = pd.read_csv('Students_marks_' + str(i) + '.csv', sep=',')
  df1 = df1.merge(df2, on=["index"])
  df = df.append(df1)
df

,index,gender,race/ethnicity,parental level of education,lunch,test preparation course,group,math score,reading score,writing score
0,0,female,group B,bachelor's degree,standard,none,group1,72,72,74
1,1,female,group C,some college,standard,completed,group1,69,90,88
2,2,female,group B,master's degree,standard,none,group1,90,95,93
3,3,male,group A,associate's degree,free/reduced,none,group1,47,57,44
4,4,male,group C,some college,standard,none,group1,76,78,75
...,...,...,...,...,...,...,...,...,...,...
95,995,female,group E,master's degree,standard,completed,group10,88,99,95
96,996,male,group C,high school,free/reduced,none,group10,62,55,55
97,997,female,group C,high school,free/reduced,completed,group10,59,71,65
98,998,female,group D,some college,standard,completed,group10,68,78,77
99,999,female,group D,some college,free/reduced,none,group10,77,86,86

#### Задание 2. Удалите столбец index у полученной таблицы. Напечатайте первые 10 строк таблицы.

In [ ]:
df = df.drop(columns='index')
df.head(10)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,group,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,group1,72,72,74
1,female,group C,some college,standard,completed,group1,69,90,88
2,female,group B,master's degree,standard,none,group1,90,95,93
3,male,group A,associate's degree,free/reduced,none,group1,47,57,44
4,male,group C,some college,standard,none,group1,76,78,75
5,female,group B,associate's degree,standard,none,group1,71,83,78
6,female,group B,some college,standard,completed,group1,88,95,92
7,male,group B,some college,free/reduced,none,group1,40,43,39
8,male,group D,high school,free/reduced,completed,group1,64,64,67
9,female,group B,high school,free/reduced,none,group1,38,60,50

#### Задание 3. Выведите на экран размеры полученной таблицы

In [ ]:
df.shape

(1000, 9)

#### Задание 4. Выведите на экран статистические характеристики числовых столбцов таблицы (минимум, максимум, среднее значение, стандартное отклонение)

In [ ]:
df.describe()

       math score  reading score  writing score
count  1000.00000    1000.000000    1000.000000
mean     66.08900      69.169000      68.054000
std      15.16308      14.600192      15.195657
min       0.00000      17.000000      10.000000
25%      57.00000      59.000000      57.750000
50%      66.00000      70.000000      69.000000
75%      77.00000      79.000000      79.000000
max     100.00000     100.000000     100.000000

#### Задание 5. Проверьте, есть ли в таблице пропущенные значения

In [ ]:
df.isnull().sum(axis=0)

gender                         0
race/ethnicity                 0
parental level of education    0
lunch                          0
test preparation course        0
group                          0
math score                     0
reading score                  0
writing score                  0
dtype: int64

#### Задание 6. Выведите на экран средние баллы студентов по каждому предмету (math, reading, writing)

In [ ]:
df['math score'].mean(), df['reading score'].mean(), df['writing score'].mean()

(66.089, 69.169, 68.054)

**Задание 7. Как зависят оценки от того, проходил ли студент курс для подготовки к сдаче экзамена (test preparation course)? Выведите на экран для каждого предмета в отдельности средний балл студентов, проходивших курс для подготовки к экзамену и не проходивших курс.**

In [ ]:
prep = df[df['test preparation course'] == 'completed']
no_prep = df[df['test preparation course'] == 'none']
#сначала вывожу балл тех, кто прошел, потом тех, кто не прошел

In [ ]:
#maths
prep['math score'].mean(), no_prep['math score'].mean()

(69.69553072625699, 64.0778816199377)

In [ ]:
#reading
prep['reading score'].mean(), no_prep['reading score'].mean()

(73.89385474860335, 66.53426791277259)

In [ ]:
#writing
prep['writing score'].mean(), no_prep['writing score'].mean()

(74.41899441340782, 64.50467289719626)

**Задание 8. Выведите на экран все различные значения из столбца lunch.**

In [ ]:
df.lunch.unique()

array(['standard', 'free/reduced'], dtype=object)

**Задание 9. Переименуйте колонку "parental level of education" в "education", а "test preparation course" в "test preparation" с помощью метода pandas rename**
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.rename.html

In [ ]:
df = df.rename(columns={"parental level of education": "education", "test preparation course": "test preparation"})

**Зафиксируем минимальный балл для сдачи экзамена**

In [ ]:
passmark = 50

**Задание 10. Ответьте на вопросы:**
    * Какая доля студентов сдала экзамен по математике (passmark >= 50)?
    * Какая доля студентов, проходивших курс подготовки к экзамену, сдала экзамен по математике?
    * Какая доля женщин, не проходивших курс подготовки к экзамену, не сдала экзамен по математике?

In [ ]:
# всего 1000 студентов, это знаем исходя из прошлого задания про размеры таблицы
df[df['math score'] >= passmark].shape[0] / 1000

0.865

In [ ]:
prep[prep['math score'] >= passmark].shape[0] / prep.shape[0]

0.9217877094972067

In [ ]:
women = no_prep[no_prep['gender'] == 'female']
women[women['math score'] < passmark].shape[0] / women.shape[0]

0.20958083832335328

**Задание 11. С помощью groupby выполните задания ниже. Также выведите время выполнения каждого из заданий.**
    * Для каждой этнической группы выведите средний балл за экзамен по чтению
    * Для каждого уровня образования выведите минимальный балл за экзамен по письму

In [ ]:
df.groupby(['race/ethnicity']).mean()['reading score']

race/ethnicity
group A    64.674157
group B    67.352632
group C    69.103448
group D    70.030534
group E    73.028571
Name: reading score, dtype: float64

In [ ]:
df.groupby(['education']).min()['writing score']

education
associate's degree    35
bachelor's degree     38
high school           15
master's degree       46
some college          19
some high school      10
Name: writing score, dtype: int64

**Задание 12. Выполните задание 11 с помощью циклов. Сравните время выполнения.**

In [ ]:
for i in df['race/ethnicity'].unique():
  df1 = df[df['race/ethnicity'] == i]
  print(i + " " + str(df1['reading score'].mean()))

group B 67.35263157894737
group C 69.10344827586206
group A 64.67415730337079
group D 70.03053435114504
group E 73.02857142857142

In [ ]:
for i in df.education.unique():
  df1 = df[df['education'] == i]
  print(i + "    " + str(df1['writing score'].min()))

bachelor's degree    38
some college    19
master's degree    46
associate's degree    35
high school    15
some high school    10

12 задание, что не удивительно, делалось дольше!

**Задание 13. Выведите на экран средние баллы студентов по каждому предмету в зависимости от пола и уровня образования. То есть должно получиться количество групп, равных 2 * (число уровней образования), и для каждой такой группы выыведите средний балл по каждому из предметов.**

Это можно сделать с помощью сводных таблиц (pivot_table):

https://www.kaggle.com/kamilpolak/tutorial-how-to-use-pivot-table-in-pandas

In [ ]:
grouped = pd.pivot_table(df,index=['gender','education'])
grouped

                           math score  reading score  writing score
gender education
female associate's degree   65.250000      74.120690      74.000000
       bachelor's degree    68.349206      77.285714      78.380952
       high school          59.351064      68.202128      66.691489
       master's degree      66.500000      76.805556      77.638889
       some college         65.406780      73.550847      74.050847
       some high school     59.296703      69.109890      68.285714
male   associate's degree   70.764151      67.433962      65.405660
       bachelor's degree    70.581818      68.090909      67.654545
       high school          64.705882      61.480392      58.539216
       master's degree      74.826087      73.130435      72.608696
       some college         69.009259      64.990741      63.148148
       some high school     67.840909      64.693182      61.375000

#### Задание 14. Сколько студентов успешно сдали экзамен по математике?

Создайте новый столбец в таблице df под названием Math_PassStatus и запишите в него F, если студент не сдал экзамен по математике (балл за экзамен < passmark), и P иначе.

Посчитайте количество студентов, сдавших и не сдавших экзамен по математике.

Сделайте аналогичные шаги для экзаменов по чтению и письму.

In [ ]:
df['Math_PassStatus'] = np.where(df['math score'] >= passmark, 'P', 'F')
df[df['Math_PassStatus'] == 'P'].shape[0], df[df['Math_PassStatus'] == 'F'].shape[0]

(865, 135)

In [ ]:
df['Reading_PassStatus'] = np.where(df['reading score'] >= passmark, 'P', 'F')
df[df['Reading_PassStatus'] == 'P'].shape[0], df[df['Reading_PassStatus'] == 'F'].shape[0]

(910, 90)

In [ ]:
df['Writing_PassStatus'] = np.where(df['writing score'] >= passmark, 'P', 'F')
df[df['Writing_PassStatus'] == 'P'].shape[0], df[df['Writing_PassStatus'] == 'F'].shape[0]

(886, 114)

#### Задание 15. Сколько студентов успешно сдали все экзамены?

Создайте столбец OverAll_PassStatus и запишите в него для каждого студента 'F', если студент не сдал хотя бы один из трех экзаменов, а иначе 'P'.

Посчитайте количество студентов, которые сдали все экзамены.

In [ ]:
df['OverAll_PassStatus'] = np.where((df['Math_PassStatus'] == 'P') & (df['Reading_PassStatus'] == 'P') & (df['Writing_PassStatus'] == 'P'), 'P', 'F')
df[df['OverAll_PassStatus'] == 'P'].shape[0]

812

#### Задание 16. Переведем баллы в оценки

### Система перевода баллов в оценки
####    больше 90 = A
####      80-90 = B
####      70-80 = C
####      60-70 = D
####      50-60 = E
####    меньше 50 = F (Fail)

Создайте вспомогательную функцию, которая будет по среднему баллу за три экзамена выставлять оценку студенту по данным выше критериям.

Создайте столбец Grade и запишите в него оценку каждого студента.

Выведите количество студентов, получивших каждую из оценок.

**В случае, если средний балл попадает на границу между оценками (т.е. равен ровно 60, 70 или 80 баллов), вы можете интерпретировать условие на своё усмотрение (т.е. можете поставить за 60 баллов оценку D, а можете - E).**

In [ ]:
def GetGrade(average_mark):
    if average_mark <= 50:
      return 'F'
    elif average_mark <= 60:
      return 'E'
    elif average_mark <= 70:
      return 'D'
    elif average_mark <= 80:
      return 'C'
    elif average_mark <= 90:
      return 'B'
    else:
      return 'A'
df['Grade'] = (df['math score'] + df['reading score'] + df['writing score']) / 3
df.reset_index(drop= True , inplace= True )

for i in range(len(df['Grade'])):
  df['Grade'][i] = GetGrade(df['Grade'][i]) 

df.groupby(['Grade'])['gender'].count()

<ipython-input-28-faee094aef26>:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Grade'][i] = GetGrade(df['Grade'][i])
/usr/local/lib/python3.8/dist-packages/pandas/core/indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

Grade
A     50
B    144
C    253
D    260
E    184
F    109
Name: gender, dtype: int64